* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.ball {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100px;
  background-color: orange;

  margin-inline: auto;
  border-radius: 50%;

  transition: 0.5s;

  font-size: 22px;
  font-weight: bold;
}
